streamlit==1.39.0
tensorflow==2.15.0
keras==2.15.0
protobuf==3.20.3
h5py==3.9.0
opencv-python-headless==4.9.0.80
imageio==2.34.2
numpy==1.24.3
pandas==2.2.3
altair==5.3.0
ffmpeg-python==0.2.0
matplotlib==3.8.4
scipy==1.11.4
gitpython==3.1.43
